body {
    font-family: roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero, .footer {
    background-color: #1F2937;

}

.hero {
    font-size: 18px;
    color: #E5E8EB;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.hero-header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 16px;
}

.hero-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

button, .call {
    background-color: #3882F6;
}

.info h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}