body {
    font-family: roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero, .footer {
    background-color: #1F2937;

}

.hero {
    font-size: 18px;
    color: #E5E8EB;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.hero-header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 48px;
}

.hero-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 100px;
}

.hero-texts {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: start;
    gap: 8px;
}

.hero-texts button {
    border: 1px solid #3882F6;
    color: #E5E8EB;
    padding: 8px 16px;
    border-radius: 8px;
}

.hero-img {
    background-color: #656C73;

}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

button, .call {
    background-color: #3882F6;
}

.information {
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    margin-bottom: 50px;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.info-item {
    width: 200px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 310px;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    align-self: end;
    font-weight: bold;
    font-size: larger;
}

.call {
    margin: 100px 200px;
    display: flex;
    padding: 50px 0px;
    color: #E5E7EB;
    justify-content: space-evenly;
    align-items: end;
    border-radius: 16px;
}

.call-title {
    font-size: 24px;
    font-weight: bold;
}

.call-button {
    border: 2px solid #E5E8EB;
    color: #E5E8EB;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    width: 125px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 25px;
    color: #E5E7EB;
}